todo_project/db.sqlite3
todo_project/todo_project/__pycache__/urls.cpython-311.pyc
todo_project/todo/__pycache__/admin.cpython-311.pyc
todo_project/todo/__pycache__/models.cpython-311.pyc
todo_project/todo/__pycache__/urls.cpython-311.pyc
todo_project/todo/__pycache__/views.cpython-311.pyc
todo_project/todo/migrations/__pycache__/0001_initial.cpython-311.pyc
todo_project/todo_project/__pycache__/settings.cpython-311.pyc
todo_project/todo_project/__pycache__/urls.cpython-311.pyc
todo_project\todo_project\__pycache__
todo_project\todo\__pycache__
todo_project\todo\migrations\__pycache__
#############
*.log
*.pot
*.pyc
db.sqlite3
todo_project\todo_project\settings.py