<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список завдань</title>
</head>
<body>
    <h1>Список завдань</h1>
    {% if tasks %}
        <ul>
            {% for task in tasks %}
                <li>
                    <strong>{{ task.name }}</strong> - {{ task.description }}  {{task.completed}}
                    <form action="{% url 'update_task_status' task.id %}" method="post">
                        {% csrf_token %}
                        <label for="status-{{ task.id }}">
                            <input 
                                type="checkbox" 
                                id="status-{{ task.id }}" 
                                name="status" 
                                {% if task.status %}checked{% endif %}
                            >
                            Завершено
                        </label>
                        <button type="submit">Оновити статус</button>
                    </form>                                        
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Немає завдань.</p>
    {% endif %}
</body>
</html>
